.my-custom-class {
    display: block;
}
.mi-boton{
    width: 50%; /* Ajusta el ancho al 100% */
    margin-bottom: 10px; /* Espacio entre los botones */



}     
html, body {
    height: 100%;
    margin: 0;
}

/* Mantine el contenido centrado pero asegura que el pie de página no se superponga */
.card {
    margin-bottom: 60px; /* espacio suficiente para el pie de página */
}

/* Asegura que el pie de página esté fijo en la parte inferior */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn-estilo {
      font-size: 1.25rem; /* Tamaño del texto del botón */
      padding: 0.75rem 1.5rem; /* Tamaño del padding del botón */
      border-radius: 0.5rem; /* Radio de borde del botón */
      
}
body {
    background-color: #f8f9fa; /* Color de fondo suave */
}